<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /agent_ksef_v03/public/

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^ index.php [L,QSA]
</IfModule>
